<h2>Gestion des utilisateurs</h2>
<button class="btn btn-outline-success" routerLink="/addUtilisateur">Ajouter un utilisateur</button>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Rôle</th>
                <th>Téléphone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let utilisateur of utilisateurs">
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.name }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.role }}</td>
                <td>{{ utilisateur.phone }}</td>
                <td>
                    <button class="btn btn-primary"  routerLink="/updateUtilisateur/+{{utilisateur.id}}">Modifier</button>
                    <button class="btn btn-sm btn-danger" (click)="deleteUtilisateur(utilisateur.id)" >🗑️ Supprimer</button>
            </tr>
        </tbody>
    </table>
</div>
